.custom-editor {
  max-height: 38rem;
  overflow: auto;
  border-radius: 5px;
  transition: all 0.2s;

  textarea {
    padding: 1.7rem 0 0 2.8rem !important;
    font-size: 1rem !important;
    line-height: 1.5 !important;
    font-family: monospace !important;
  }

  .pre-highlight {
    background-color: transparent !important;
    padding: 0;
  }
}

.hide-editor {
  max-height: 0;
}

.no-line-numbers {
  textarea {
    padding: 1.7rem 0 0 0.7rem !important;
  }
}

.pre-highlight {
  max-width: calc(100vw - 60px);
  box-sizing: border-box;
  overflow: auto;
  text-align: left;
  padding: 0.8em;
  font-size: 1rem;
  border-radius: 5px;

  & .token-line {
    line-height: 1.5;
    height: 1.5em;
  }
}

.line {
  display: table-row;
}

.line__no {
  display: table-cell;
  text-align: right;
  padding-right: 1em;
  user-select: none;
  opacity: 0.5;
}

.line__content {
  display: table-cell;
}
