.topbar {
  position: sticky;
  top: 0;
  background-color: #f0f0f0;
  z-index: 10;
}

.topbar__hamburger-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;

  > span {
    cursor: pointer;
  }
}
