.col-content {
  position: relative;
  padding: 1rem 2rem;
  text-align: center;
  text-shadow: 0.5px 0.5px #333;
  border-radius: 6px;
  background-color: #828282;
  color: #fff;

  .col-title {
    line-height: 3;
    font-weight: bold;
  }
}

.example-tile {
  cursor: pointer;
  transition: all 0.25s;
}

.example-tile:hover {
  transform: scale(1.02);
}
